<%= div_for(comment) do %>
    <div class="starls-post">
      <div class="starls_photo">
        <%= link_to(image_tag('noavatar.png', :alt => 'No avatar'), user_path(User.find(comment.user_id))) %>
      </div>
      <div class="starl-state">

        <div class="user_name_time">
          <strong><%= link_to User.find(comment.user_id).name, user_path(User.find(comment.user_id)) %></strong> - <%= time_ago_in_words(@post.created_at)+ ' ago.'%>
          <div class="delete_post">
            <% if user_signed_in? and User.find(comment.user_id).id == current_user.id %>
                <%= link_to image_tag('delete.png', alt: 'delete'), comment, method: :delete %>
            <% end %>
          </div>
        </div>


        <p><%= comment.content %></p>
      </div>
    </div>
<% end %>

