<hr>
<div class='starls'>
  <div class='starls_photo'>
    <%= link_to image_tag(user.avatar.url), user_path(user) %>
  </div>
  <div class='starl-state'>
    <div class='user_name_time'>
      <strong><%= link_to user.name, user_path(user) %></strong>
    </div>
    <div class='users_follow <%= user.class %>-<%= user.id %>'>
      <%= render 'following', user_id: user.id%>
    </div>
  </div>
</div>