<% provide(:title, 'Feeds') %>
<div class='container clearfix'>
  <div class='content'>
    <%= render 'user_info', user: @user%>
    <div class='wall'>
      <div class='artcl'>
        Posts
      </div>
      <hr>
      <% if @posts.count < 1 %>
        <div class="an-action"> <%= link_to 'Follow users...', users_path %> </div>
      <% end %>
          <% @posts.each do |post| %>
              <div class='starls'>
                <div class="<%= post.class %>-<%= post.id %>">
                  <%= render 'posts/post', post: post, type: true %>
                </div>
              </div>
          <% end %>
      <div class="pagination">
        <%= will_paginate @posts %>
      </div>
    </div>
  </div>
</div>

