<% provide(:title, @user.name) %>
<div class="container clearfix">
  <div class="content">
    <div class="user_info">
      <div class="avatar">
        <%= image_tag("noavatar.png", :alt => "No avatar") %>
      </div>
      <div class="info">
        <h1><%= @user.name %></h1>
        <!--<h3>@floor114</h3>-->
        <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
        <div class="more_info">
          <!--<p>Khmelnytsky</p>-->
          <!--<a href="vk.com/floor114">vk.com/floor114</a>-->
          <p>In Starling from <%= @user.created_at.strftime("%B")%>
            <%=@user.created_at.year %></p>
        </div>
      </div>
    </div>
    <div class="wall">
      <div class="artcl">
        <h1>Posts</h1>
      </div>

      <% @user.posts.reverse.each do |post| %>
          <div class="starls">
            <div class="starls_photo">
              <%= link_to(image_tag("noavatar.png", :alt => "No avatar"), user_path(@user)) %>
            </div>
            <div class="starls_state">
              <div class="user_name_time">
                <p><strong><%= link_to @user.name, user_path(@user) %></strong> - <%= link_to (time_ago_in_words(post.created_at)+ " ago."), post%> </p>
              </div>
              <p><%= post.content %></p>
            </div>
          </div>
          <% if user_signed_in? and @user.id == current_user.id%>
              <%= link_to 'Show', post %>
              <%= link_to 'Destroy', post, method: :delete %>
          <% end %>
      <% end %>



    </div>
  </div>
</div>

