<% provide(:title, @user.name) %>
<div class='container clearfix'>
  <div class='content'>
    <%= render 'user_info', user: @user%>
    <div class='wall'>
      <div class='artcl'>
        Posts
        <%= render 'shared/alert'%>
      </div>
      <hr>
      <% if @posts.count < 1 %>
          <div class="an-action">
          <% if current_user == @user %>
            <%= link_to 'Create a post...', new_post_path %>
          <% else %>
            <p>This user don't have a posts.</p>
          <% end %>
          </div>
      <% end %>

      <% @posts.each do |post| %>

          <div class='starls'>

            <div class="<%= post.class %>-<%= post.id %>">
                <%= render 'posts/post', post: post, type: true%>
            </div>
          </div>
          <hr>
      <% end %>
      <div class="pagination">
        <%= will_paginate @posts %>
      </div>



    </div>
  </div>
</div>

