<div id="wrapper">
  <div class="container clearfix">
    <div class="form">
      <section class="login">
        <strong>Change your password</strong>
        <hr>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>
            <%= f.hidden_field :reset_password_token %>
              <%= f.password_field :password, autofocus: true, autocomplete: "off", :placeholder => "New password" %>
              <%= f.password_field :password_confirmation, autocomplete: "off" , :placeholder => "Confirm new password"%>
              <%= f.button "Change my password" %>
        <% end %>
      </section>
    </div>
  </div>
</div>
