<div class='starls_photo'>
  <%= link_to image_tag(post.user.avatar.url), user_path(post.user) %>
</div>
<div class='starl-state'>
  <div class='user_name_time'>
    <strong><%= link_to post.user.name, user_path(post.user) %></strong> -

    <% if post.created_at > Time.now-12.hours %>
        <%= link_to (time_ago_in_words(post.created_at)+ ' ago.'), post%>
    <% elsif post.created_at < Time.now-12.hours and post.created_at > Time.now-1.day %>
        <%= link_to 'Today at '+post.created_at.strftime('%I:%M')+post.created_at.strftime(' %p').downcase, post%>
    <% elsif post.created_at < Time.now-1.day and post.created_at > Time.now-2.day %>
        <%= link_to 'Yesterday at '+post.created_at.strftime('%I:%M')+post.created_at.strftime(' %p').downcase, post%>
    <% elsif post.created_at < Time.now-2.day and post.created_at > Time.now-1.year%>
        <%= link_to post.created_at.strftime('%e %b')+' at '+post.created_at.strftime('%I:%M')+post.created_at.strftime(' %p').downcase, post%>
    <% elsif post.created_at < Time.now-1.year%>
        <%= link_to post.created_at.strftime('%e %b %Y'), post%>
    <% end %>

    <% if post.user == current_user %>
        <% if user_signed_in? and post.user == current_user %>
            <div class="delete_post">
              <% if post.created_at > Time.now-1.day %>
                  <%= link_to image_tag('edit.png', alt: 'edit'), edit_post_path(post) %>
              <% end %>
              <%= link_to image_tag('delete.png', alt: 'delete'), post, method: :delete %>
            </div>
        <% end %>
    <% end %>

  </div>
  <p><%= post.content %></p>
</div>
<div class='item_bar'>
  <% if type %>
      <div class='comments-count'>
        <% if post.comments.size>0 %>
            <% if post.comments.size==1 %>
                <%= link_to post.comments.size.to_s+' comment', post %>
            <% else %>
                <%= link_to post.comments.size.to_s+' comments', post %>
            <% end %>
        <% else %>
            <%= link_to 'Comment', post %>
        <% end %>
      </div>
  <% end %>

  <div class="likes like-<%= post.id %>">
    <%= render 'posts/vote',  post_id: post.id, count: post.likers_count %>
  </div>
</div>