<% provide(:title, 'Post '+@post.id.to_s) %>
<div class='container clearfix'>
  <div class='content'>
    <div class='wall-post'>
          <div class='starls-post'>
            <%= render 'post', post: @post, type: false%>
          </div>
    </div>
    <div class='wall-post'>
      <%= form_for [@post, Comment.new] do |f| %>
          <%= f.text_area :content, :label => 'New Comment', as: :text, input_html:{ rows: '3'} %>
          <div class='comment-button'>
          <%= f.button 'Add Comment'%>
          </div>
      <%end%>
      <%= render :partial =>@post.comments %>
    </div>
  </div>
</div>


