<% provide(:title, 'Post: '+@post.id.to_s) %>
<div class='container clearfix'>
  <div class='content'>

    <div class='wall-post'>
          <div class='starls-post'>
            <div class='starls_photo'>
              <%= link_to image_tag(User.find(@post.user_id).avatar.url), user_path(User.find(@post.user_id)) %>
            </div>
            <div class="starl-state">
              <div class="user_name_time">
                <strong><%= link_to User.find(@post.user_id).name, user_path(User.find(@post.user_id)) %></strong> - <%= time_ago_in_words(@post.created_at)+ ' ago.'%>
                <div class="delete_post">
                  <% if user_signed_in? and User.find(@post.user_id).id == current_user.id %>
                      <%= link_to image_tag('delete.png', alt: 'delete'), @post, method: :delete %>
                  <% end %>
                </div>
              </div>
              <p><%= @post.content %></p>
            </div>
            <div class="item_bar">


              <div class="likes">
                <% if user_signed_in?%>
                    <% unless current_user.likes?(@post) %>
                        <%= link_to image_tag('unlike.png', alt: 'unlike'), like_path(@post) %>
                    <% else %>
                        <%= link_to image_tag('like.png', alt: 'like'), unlike_path(@post) %>
                    <% end %>
                    <% if @post.likers_count >0 %>
                        <%= @post.likers_count %>
                    <% end %>
                <% end %>
              </div>
            </div>
          </div>
    </div>
    <div class='wall-post'>
      <%= form_for [@post, Comment.new] do |f| %>
          <%= f.text_area :content, :label => 'New Comment', as: :text, input_html:{ rows: '3'} %>
          <div class='comment-button'>
          <%= f.button 'Add Comment'%>
          </div>
      <%end%>
      <%= render :partial =>@post.comments %>
    </div>
  </div>
</div>


